@model MyRoutine.Models.ViewModels.DietDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diet.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diet.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diet.DateInitial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diet.DateInitial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diet.DateFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diet.DateFinal)
        </dd>
    </dl>

    @if (Model.Meals.Any())
    {
        <h4>Meal</h4>
        @foreach(var group in Model.Meals.GroupBy(x => x.Type))
        {
            <h5>@Html.DisplayFor(x => group.Key)</h5>
            <ul>
                @foreach(var meal in group)
                {
                    <li>
                        @meal.Name - @meal.Calories Kcal
                        <form asp-controller="Meals" asp-action="Edit" asp-route-id="@meal.Id" method="post"><button type="submit">Editar</button></form>
                        <form asp-controller="Meals" asp-action="Delete" asp-route-id="@meal.Id" method="post"><button type="submit">Remover</button></form>
                    </li>
                }

            </ul>
            
        }
        <a asp-controller="Meals" asp-action="Create" asp-route-dietid="@Model.Diet.Id">Adicionar</a>
    }
    else
    {
        <p>Não há refeições para listar</p>
        <a asp-controller="Meals" asp-action="Create" asp-route-dietid="@Model.Diet.Id">Adicionar</a>
    }
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
